<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sign Up</title>
</head>
<body>

    <div class="container mt-5">
        <h2 class="mb-4">Sign Up</h2>

        <form method="post" action="{% url 'djangoapp:signup' %}" class="form-signup">
            {% csrf_token %}

            <!-- First Name -->
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                <input type="text" class="form-control" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" placeholder="Enter First Name" value="{{ form.first_name.value }}">
            </div>

            <!-- Last Name -->
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                <input type="text" class="form-control" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" placeholder="Enter Last Name" value="{{ form.last_name.value }}">
            </div>

            <!-- Username -->
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                <input type="text" class="form-control" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="Enter Username" value="{{ form.username.value }}">
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                <input type="password" class="form-control" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" placeholder="Enter Password">
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                <br>
                <input type="password" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" placeholder="Confirm Password">
                </br>    
            </div>

            <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
        </form>
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

